footer {
  .container {
    margin: 0 auto;
    background-color: #242424;
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        display: block;
        
        color: white;
        font-family: "Roboto";
        font-style: normal;
        margin:auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 12px 16px;
        background: #0d0d0d;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        &:hover {
          background-color: blue;
        }
      }
    }
  }
}
@media screen and (max-width:400px) {
  footer{
    .container{
     width: 320px;
    }
  }
  
}
